* {
  margin: 0;
  padding: 0;
  background: #506062;
  color: white;
}

body {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  padding: 0 10px;
}

h1 {
  text-align: center;
  border-bottom: 1px dotted gray;
  margin-bottom: 10px;
}

h2 {
  margin: 10px 20px 10px 0;
}

.add-score h2 {
  border-bottom: 8px double;
}

span {
  background-color: initial;
}

main,
.recent-score div {
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
}

main section {
  padding: 15px;
}

::placeholder {
  color: white;
}

.recent-score,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  border-radius: 10px;
}

button {
  background-color: white;
  border: 2px solid black;
  box-shadow: 3px 2px 1px black;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  padding: 4px;
  color: black;
  margin-bottom: 10px;
}

small {
  color: darkorange;
}

.hidden {
  display: none;
}

input::placeholder {
  color: black;
  opacity: 1;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

input,
.add-score button {
  margin: 10px 0;
}

form {
  width: 50%;
}

.add-score button {
  align-self: center;
}

input {
  border: 2px solid black;
  line-height: 32px;
  padding: 4px;
}

ul {
  list-style: none;
  padding-left: 0;
  border: 3px solid black;
  width: 100%;
  color: black;
}

li {
  padding: 10px;
}

li:nth-child(odd) {
  background-color: #80808057;
}

.add-score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  border: 1px dotted gray;
}

.currentScore {
  font-size: 22px;
  border: 9px double yellow;
  padding: 10px;
  margin-bottom: 30px;
}

@media (min-width: 750px) {
  main,
  .recent-score div {
    flex-direction: row;
  }

  main section {
    width: 45%;
  }

  .recent-score,
  form {
    max-width: 500px;
  }

  h1 {
    text-align: center;
    border: none;
    margin-bottom: 10px;
  }
}
